
@{
    // This area seems to be for C# code
    ViewBag.Title = "Picking";
}
<!--Remember html code is read from top to bottom, the scripts should be run at the end-->
<!--Remember all the resources in a website need to be inside the website, this includes images-->
<!--If some resources need to be in a separate place not accessible there should be another website as another project or third party-->
<html>
    <head>
        <style type="text/css">
            .contentClass {
                margin: 20px;
                font-weight: bold;
                font-size: 12px;
            }
            button {
                display: block;
                margin: 20px;
                width: 100%;
                color: white;
                height: auto;
                background: limegreen;
                border: none;
            }
            img {
                max-width: 100%;
                margin: 20px;
            }
            body { font-family: Arial, Helvetica, sans-serif; }
            h1 { font-size: 3.0em;}
            h2, h3 {
                max-width: 100%;
                font-size: 1.5em;
                text-align: center;
                margin: 20px;
            }
            em { color: orange; }
            strong { color: red; }
            .leftColumn {
                width: 33%;
                padding: 20px;
            }
            .centerColumn {
                width: 33%;
                padding: 20px;
            }
            .rightColumn {
                width: 33%;
                padding: 20px;
            }
            .wrapper {
                display: flex;
                height: 100%;
                width: 100%;
                flex-direction: row
            }
        </style>
    </head>
<body>
<h1 align="center">Picking View</h1>
<div class="wrapper">
    <div class="leftColumn">
        <h2>Description</h2>
        <div id="itemDescription"></div>
    </div>
    <div id="centerDiv" class="centerColumn">
        <img id="itemImage" />
        <div class="contentClass" align="left">BARCODE</div>
        <button onclick="reset()">
            <div>&#10004;</div>
            <div>Confirm</div>
        </button>
    </div>
    <div class="rightColumn">
        <h2>Location</h2>
        <div id="itemLocation"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript">
    var apiUrl = 'http://localhost:59626/api/picking?';
    //  document is the html ID for the html page. Equivalent to C# this.
    //  $(document) uses jQuery to wrap the global document object as a javascript object.
    //  NOTE: document is the HTML object used to point to the current page as C# this. $(document) is the jQuery object obtained using document as parameter.
    //  $(document) should only be used for JjQuery operations.

    //  A page can't be manipulated safely until the document is "ready."
    //  jQuery detects this state of readiness for you.
    //  Code included inside $(document).ready() will only run once the page Document Object Model(DOM) is ready for JavaScript code to execute.
    //  Remember the DOM is read from top to bottom. ready() will be called once the whole document has been read.

    var itemLocation;

    $(document).ready(function() {
        // In jQuery, the $ sign it's just an alias to jQuery(), then an alias to a function.
        // .getJSON always returns result 'data'.
        // Send an AJAX request
        //  This seems to be async, so for the itemLocation to be updated we need to be here
        $.getJSON(apiUrl + 'maxItems=100')
            .done(function(data) {
                // The .each() method is designed to make DOM looping constructs concise and less error-prone.
                // On success, 'data' contains a list of products.
                $.each(data,
                    function(key, item) {
                        // Add a list item for the product.
                        // prependTo() {beginning of element} is the opposite to appendTo() {end of element}
                        itemLocation = item.ItemLocation;
                        $('<h2>', { text: item.ItemName }).prependTo($('#centerDiv'));
                    });

                reset(itemLocation);
            });
        //var element = $(document).getElementById("itemName");
        //element.value = "test";
    });

    function reset(location) {
        var tag = $('#itemLocation');
        tag.html("RBO");

        var imagePath = "../Images/questionMark.png";
        if (location === undefined) {
            location = imagePath;
        }

        document.getElementById("itemImage").src = imagePath;

        tag.html(location);
    }

</script>
<script type="text/javascript">
    document.getElementById("itemDescription").innerHTML = new Date();
</script>
</body >
</html >

