
@{
    ViewBag.Title = "Picking";
}

<html>
    <head>
        <style type="text/css">
            body { font-family: Arial, Helvetica, sans-serif; }
            h1 { font-size: 3.0em;}
            h2, h3 { font-size:2.0em; }
            em { color: orange; }
            strong { color: red; }
            .leftColumn{ grid-column: 1 }
            .centerColumn { grid-column: 2 }
            .rightColumn { grid-column: 3}
            .wrapper {
                display: grid;
                height: 100%;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 10px;
                grid-auto-rows: minmax(100px, auto);
            }
        </style>
    </head>
    <body>
        <h1 align="center">Picking View</h1>
    <div class="wrapper">
        <div class="leftColumn">
            <h2 align="center">Scan from Section</h2>
        </div>
        <div class="centerColumn">2</div>
        <div class="rightColumn">3</div>
    </div>
    </body>
</html>

